.item-photo {
    border-radius: 7px;
    box-shadow: 2px 2px black;
    max-width: 75%; max-height: 83%;
    width: 150px; height: 175px;
}

.nav-btn{
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    background-color: darkblue;
    padding: 7px;
    margin-right: 15px;
    text-decoration: none;
}

.nav-btn a:link, a:visited {
    color: white;
    text-decoration: none;
}

.nav-btn:hover {
    color: lightgray;
}

.nav-btn.user-btn {
    background-color: green;
}

.navbar {
    overflow: hidden;
    background-color: lightblue;
    position: fixed;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    padding: 10px;
}

footer {
    background-color: lightblue;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    width: 100%;
    height: 25px;
}

footer h3 {
    margin-left: 8px;
    margin-top: 0;
}

.main {
    text-align: center;
    margin-top: 60px;
    margin-right: 15%;
    margin-left: 15%;
}

.form-main {
    margin-top: 60px;
}

.item-container {
    width: 20%;
    height: 10%;
    border-radius: 7px;
    display: inline-block;
    background-color: rgba(107,255,247,0.6);
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px #3d3d3d;
}

.item-container button, .item-container-details button{
    color: white;
    font-size: 18px;
    border-radius: 5px;
    background-color: rgba(0,0,255,0.8);
    padding: 7px;
    margin: 5%;
}

.item-container button:active .item-container-details button:active{
    background: rgba(0,0,190,0.8);
}

.item-container-details {
    width: 70%;
    height: auto;
    border-radius: 7px;
    display: inline-block;
    background-color: #73afaf;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px #3d3d3d;
}

.item-container-details textarea {
    width: 70%;
    height: auto;
}

.item-container-details p {
    font-weight: bold;
    font-size: 17px;
}

body {
    background-color: #f0f0f0;
    margin: 0 0 30px;
}


input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=file] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=checkbox] {
    width: 1%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-div button {
    font-size: 20px;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-div button:hover {
  background-color: #45a049;
}

.form-div label {
    font-size: 18px;
    padding: 8px 8px 8px 0;
    display: block;
    width: fit-content;
}

.form-div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.form-div a{
    color: black;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-decoration: none;
}

h1 {
    margin: 10px;
}

h1.index{
    font-size: 60px;
    font-weight: bold;
}

h3.index{
    font-size: 30px;
}

p a, p a:visited{
    color: white;
    text-decoration: none;
}

.item-container-details .del-btn{
    color: black;
    background-color: red;
}