{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if username %}
        <h1>{{ username }}'s Uploads</h1>
    {% else %}
        <h1>Dashboard</h1>
    {% endif %}
    {% if items %}
        {% for el in items %}
            <div class="item-container">
                <h3>{{ el.name|truncatechars:22 }}</h3>
                    {% if el.image %}
                        <img class="item-photo" src="{{ el.image.url }}" alt="Photo Missing">
                    {% else %}
                        <img class="item-photo" src="{% static 'missing_photo.png' %}" alt="Photo Missing">
                    {% endif %}
                <p>Price: {{ el.price }}</p>
                <p>Type: {{ el.get_class_name }}</p>

                {% if el.get_class_name == "Game" %}
                    <button onclick="location.href = '{% url 'details game' el.pk %}'" class="details-btn">Details</button>
                    {% else %}
                    <button onclick="location.href = '{% url 'details periphery' el.pk %}'" class="details-btn">Details</button>
                {% endif %}

                {#<button class="fav-btn">fav</button>#}
            </div>

        {% endfor %}
    {% else %}
        <h1>There are no uploads yet</h1>
    {% endif %}
{% endblock %}