{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GameShop</title>

    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="icon" href="{% static 'mushroom.jpg' %}">
</head>
<body>
<nav class="navbar">
    <a class="nav-btn" href="{% url 'index' %}">Home</a>
    <a class="nav-btn" href="{% url 'dashboard' %}">idk</a>
    <a class="nav-btn" href="{% url 'create game' %}">gam</a>
    <a class="nav-btn" href="{% url 'create periphery' %}">periferiq</a>
</nav>
<div class="main">
    {% block content %}
{% endblock %}
</div>

</body>
</html>