{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GameShop</title>

    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="icon" href="{% static 'mushroom.jpg' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="nav-btn" href="{% url 'index' %}">Home</a>
            <a class="nav-btn" href="{% url 'dashboard' %}">Dashboard</a>
            {% if user.is_authenticated %}
                <a class="nav-btn" href="{% url 'create game' %}">Add Game</a>
                <a class="nav-btn" href="{% url 'create periphery' %}">Add Periphery</a>
                <a class="nav-btn" href="{% url 'details user' request.user.id %}">Profile Details</a>
                <a class="nav-btn user-btn" href="{% url 'logout user' %}">Logout</a>
            {% else %}
                <a class="nav-btn user-btn" href="{% url 'login user' %}">Login</a>
                <a class="nav-btn user-btn" href="{% url 'register user' %}">Register</a>
            {% endif %}
        </nav>
    </header>
    <div class="form-main">
        {% block form %}
        {% endblock %}
    </div>

    <div class="main">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <h3>GameShop© (not a rip-off)</h3>
    </footer>
</body>
</html>